#navbar {
  background-color: white;
}

#navbar .menu-item {
  height: 50px
}

#navbar #left-most-nav {
  position: absolute;
  left: 80px;
}

#navbar #logo {
  position: absolute;
  left: 40%;
}

#navbar #second-right-most-nav {
  position: absolute;
  right: 240px;
}

#navbar #right-most-nav {
  position: absolute;
  right: 80px;
}

#navbar .menu-item:hover a, #navbar .menu-item:hover p {
  color: orange;
  text-decoration: none;
}

#navbar a, #navbar p {
  top: 9px;
  font-size: 24px;
  color: #777;
  text-decoration: none;
}

#navbar .color-div {
  position: absolute;
  width: 100%;
  bottom: 2px;
  min-height: 3px;
  background-color: white;
}

#navbar .menu-item:hover .color-div {
  position: absolute;
  width: 100%;
  bottom: 3px;
  min-height: 3px;
  background-color: orange;
}
