#navbar {
  background-color: white;
}

#navbar .menu-item {
  height: 50px
}

#navbar #left-most-nav {
  position: absolute;
  left: 80px;
}

#navbar #logo {
  position: absolute;
  left: 40%;
}

#navbar #second-right-most-nav {
  position: absolute;
  right: 240px;
}

#navbar #right-most-nav {
  position: absolute;
  right: 80px;
}

#navbar .menu-item:hover a, #navbar .menu-item:hover p {
  color: orange;
  text-decoration: none;
}

#navbar a, #navbar p {
  top: 9px;
  font-size: 24px;
  color: #777;
  text-decoration: none;
}

#navbar .color-div {
  position: absolute;
  width: 100%;
  bottom: 2px;
  min-height: 3px;
  background-color: white;
}

#navbar .menu-item:hover .color-div {
  position: absolute;
  width: 100%;
  bottom: 3px;
  min-height: 3px;
  background-color: orange;
}

/* Landing Page Animation */

.intro-text-wrapper {
  align-items:center;
  min-height: 100px;
}

.intro-text-container h1 {
  font-family: Helvetica;
  letter-spacing: -0.025em;
  margin: 0 auto;
  display: block;
  height: 50px;
  font-size: 24px;
}

.intro-text-container {
  padding-left: 24px;
}


.intro-text-1, .intro-text-2, .intro-text-3, .intro-text-4 {
  transition: 1.5s ease;
  display: inline-block;
}

@keyframes waveHand {
  0% {
     transform: rotate(7deg);
  }
  50% {
     transform: rotate(-7deg);
  }
  100% {
     transform: rotate(7deg);
  }
}

.intro-text-1 {
  animation-name: waveHand;
  animation-iteration-count: infinite;
  animation-duration: 1.3s;
  animation-timing-function: ease;
  transform-origin: 90% 80%;
  opacity:  1;
}
.intro-text-1.start {
  opacity: 0;
}

.intro-text-2 {
  width: auto;
  opacity: 1;
  transition-delay: 1.5s;
  margin-left: 12px;
  max-width: 60px;
}

.intro-text-2.start {
  width: 0;
  opacity: 0;
  max-width: 1px;
}

.intro-text-3 {
  opacity: 1;
  transition-delay: 3.25s;
}

.intro-text-3.start {
  opacity: 0;
}

.intro-text-4 {
  max-width: 150px;
  opacity: 1;
  transition: ease 2s;
  transition-delay: 3.5s;
  white-space:nowrap;
  transform: translateX(0px);
  margin-left: 8px;
}

.intro-text-4.start {
  max-width: 1px;
  opacity: 0;
  transform: translateX(60px);
}

.start {
  position: absolute;
  opacity: 0;
}

/* Landing Page Animation Over */

/* For the log-in and register page */

.background-image {
  background: url("logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: 100px;
}

.login-div, .register-div {
  margin-top: 150px;
}

.intro-text-container {
  margin-top: 150px;
}

#screen input, #screen button {
  background: rgba(50,50,50,0.25);
  -webkit-backdrop-filter: blur(6px);
  padding: 12px 12px;
  font-size: 20px;
  color: #333;
  z-index: 1000;
  display: inline-block;
  height: 40px;
  width: 300px;
  border-radius: 6px;
  color: #f9f9f9;
  -webkit-transition: 0.6s ease;
  border: none;
  outline: none;
  margin: 20px 0 0;
}

#screen button {
  background: rgba(0,0,0,0.55);
  width: 300px;
  height: 60px;
}

#screen {
  position: relative;
  display: block;
}

.login-container, .register-container {
  display: block;
  margin: 5% auto;
  height: 300px;
  width: 320px;
}

.register-form > a, .login-form > a {
  display: block;
  text-align: center;
  font-size: 16px;
}

.register-form, .login-form {
  width: 300px;
}

/* End of the log-in and register page */

/* Beginning of Google Places */

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}
#target {
  width: 345px;
}

/* End of Google Places Api */

/* Tag buttons */

.tag-list ul {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.tag-list button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-width: 1px;
  border-radius: 30px;
  border-color: coral;
  color: coral;
}

/* Tag buttons over */

/* Send post and send tag buttons */

.send-post input, .send-post button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.send-post .post-container {
  border: 2px solid coral;
  border-radius: 10px;
  padding: 5px 5px;
  color: coral;
  background-color: #fff7f0;
  width: 100%;
  max-width: 100%;
  height: 100px;
}

.send-post .post-container::placeholder{
  color: coral;
}

.send-post .post-container {
  resize: none;
}

.send-post .tag-container {
  border-radius: 30px;
  border: 2px solid coral;
  text-align: center;
  color: coral;
  background-color: #fff7f0;
}

.send-post .tag-container::placeholder{
  color: coral;
}

.send-post button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-width: 1px;
  border-radius: 30px;
  border-color: coral;
  background-color: coral;
  color: white;
}

/* Send post and send tag buttons over */
